<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Pattaya&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('css/bucket.css') }}">
    {% block fonts %}{% endblock %}
</head>
<body>
<div class="navbar" id="navbar">
    <span class="brand">Bucket-List</span>
    <img class="logo" src="{{ asset('img/bucket.png') }}" alt="logo">
    <a class="linkHome" href="{{ path('main_home') }}">Home</a>
    <a class="linkList" href="{{ path('wish_list', {page: 1}) }}">List</a>
    <a class="linkAdd" href="{{ path('wish_addWish') }}">Add a Wish</a>
    <a class="linkAbout" href="{{ path('main_about') }}">About Us</a>
</div>

<div class="content">{% block content %}{% endblock %}</div>

<div class="pagination">{% block pagination %}{% endblock %}</div>

<footer class="footer">@Bucket-list {{ "now"|date('Y') }} </footer>
{% block style %}{% endblock %}
{% block js %}{% endblock %}
</body>
</html>
